*{
  padding: 0;
  margin: 0;
}
:root{
  --main-bg:rgb(245, 199, 99);
  --full-height: calc(100vh - 84px);
}
@font-face {
  font-family: 'BebasNeue';
  src: url('./BebasNeue-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
.navBarContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 2vh;
}
.navBarItem{
  list-style: none;
  width: 17vw;

  font-family: 'BebasNeue';
  text-align: center;
  font-size: 2em;
}
.navBarItem:last-child{
  display: flex;
  justify-content: flex-end;
}
.social-media-icon{
  margin: 5px;
  margin-left: 10px;
}
.homepage{
  background-color: var(--main-bg);
  /* background: url('./main-page.png') no-repeat fixed center; */
  background-size: contain;
  height: var(--full-height);
  font-family: 'BebasNeue';
}
.homepage-photo{
  position: absolute;
  top: 20vh;
  left: 40vw;
}
.homepage>h1{
  position: relative;
  text-align: center;
  top: 47vh;
  font-size: 150px;
  z-index: 2;
}
.homepage>.menu-btn{
  font-family: 'BebasNeue';
  font-size: 16px;
  position: relative;
  display: block;
  margin: auto;
  top: 45vh;
  border: none;
  width: 220px;
  height: 50px;
}
.about{
  height: var(--full-height);
  background-color: var(--main-bg);
  font-family: 'BebasNeue';
  font-size: clamp(1rem, 15vw, 175px);
  line-height: 96%;
}
.about-section{
  position: relative;
  top: 3vh;
  left: 2vw;
  width: fit-content;
}
/* .about-pic:first-of-type{
  position: absolute;
  top: 10vh;
  right: 20vw;
} */
.about-pic:last-of-type{
  position: absolute;
  bottom: 4vh;
  left: 30vw;
}
.menu-container{
  font-family: 'BebasNeue';
  background-color: var(--main-bg);
  height: var(--full-height);
}
.menu{
  position: relative;
  margin: auto;
  top: 10vh;
  width: 88vw;
  height: 65vh;
  background-color: rgb(190, 212, 190);
}
.visit{
  height: var(--full-height);
  background: url('./visit-smoke-cropped.png') var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'BebasNeue';
}
.visit-header, .address{
  display: inline;
  position: relative;
  top: 30vh;
  left: 20vw;
}
.visit-header{
  font-size: 80px;
}
.address{
  font-size: 28px;
  left: 21vw;
}
.footer{
  font-family: 'BebasNeue';
  position: absolute;
  bottom: 2px;
  text-align: center;
}